.body{
    text-align: center;
}

.title{
    font-size: 40px;
        text-shadow: 1px 1px violet;
}

.button{
    background-color: violet;
    color: wheat;
    font-weight: bold;
    border-color: violet;
    border-radius: 5px;
}

.input{
    width: 50%;
    border-color: darksalmon;
    border-width: 5px;
    border-style: groove;
}

.js__msj{
    font-weight: 600;
}