*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    background-image: url('../img/Question-Mark-PNG-Free-Download-opca.png');
    background-size: cover;
}

.main{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: black;
    font-size: 100px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button{
    background-color: black;
    color: wheat;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height: 53px;
    cursor: pointer;
}

.input{
    width: 200px;
    height: 53px;
    border-color: black;
    border-width: 5px;
    border-style: groove;
}

.js__msj{
    font-weight: 600;
    font-size: 50px;
    color: black;
}

.attempt{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.footer{
    color: black;
    background-color: crimson;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.footer-logo{
    font-size: 30px;
    font-weight: bold;
}

.footer-ul{
    list-style: none;
}

.footer-icon{
    color: black;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
.fab{
    font-size: 40px;
}